@margin: 15px;

.legal-login-field {
	.legallogin-policy-text-caption {
		margin-top: @margin;

		> span {
			font-weight: bold;
			white-space: nowrap;
		}

		> a {
			white-space: nowrap;
		}
	}

	.legallogin-policy-question {
		margin-top: @margin;

		.mw-ui-radio {
			margin-right: @margin;
		}
	}

	textarea {
		width: 600px;
	}
}

//.legallogin-policy-fullscreen-text {
//	white-space: pre-wrap;
//}

#wpLegalLoginFieldEnableJS {
	display: block;
	margin-top: @margin;
	color: red;
}
